class axi_lite_sequencer extends uvm_sequencer #(axi_trans_base);
  `uvm_component_utils(axi_lite_sequencer)
  function new(string name, uvm_component parent);
    super.new(name, parent);
  endfunction
endclass
